= medical_policy_form.input :mip_number
-# =simple_form_for  @address_policy , html: { class: 'form-horizontal col-md-6 col-md-offset-3 text-center', role: 'form' } do |address_policy_form|
-#   = render('patients/medical_policy_address_form', address_policy_form: address_policy_form)
