/* Example tokeninput style #1: Token vertical list*/

ul.token-input-list {
  display: block;
  width: 100%;
  min-height: 60px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-bottom: 2px solid #BBB;
  border-radius: 0;

  clear: left;
  cursor: text;
  height: 60px;
  list-style-type: none;
  margin-bottom: 0px;
  overflow: hidden;
  padding: 0 2px;
  z-index: 8;

  li input {
    border: 0;
    background-color: white;
    padding: 3px 8px;
    width: 100px;
    -webkit-appearance: caret;
    &[disabled] {
      @extend .form-control[disabled];
    }
  }

  li {

    input {
      position: relative !important;
      width: 100% !important;
      border: none !important;
      height: auto !important;
      font-weight: 400 !important;
      font-size: 16px !important;
      padding: 16px 9px 19px 40% !important;

    }
  }
}

ul.token-input-readonly {
  @extend .form-control[readonly];
}

ul.token-input-disabled {
  @extend .form-control[disabled];
  cursor: not-allowed !important;
}

li {
  &.token-input-token {
    color: #333;
    cursor: default;
    float: left;
    font-size: 16px;
    height: auto !important;
    overflow: hidden;
    padding: 18px 6px 19px 40%;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    p {
      display: inline;
      padding: 0;
      margin: 0;
    }
    span {
      color: #a6b3cf;
      margin-left: 3px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      cursor: pointer;
    }
  }
  &.token-input-selected-token {
    // background-color: #E6E6E6;
  }
  &.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }
  &.token-input-token-readonly {
    background-color: #eeeeee;
    &.token-input-selected-token {
      padding: 9px 6px 8px 0;
    }
  }
}

div.token-input-dropdown {
  position: absolute;
  width: 200px;
  background-color: #EEE;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  margin-left: 1px;
  z-index: 1;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  p {
    margin: 0;
    padding: 10px 5px;
    font-weight: 600;
    color: #555;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      background-color: #F1F1F1;
      padding: 10px 5px;
      margin: 0;
      list-style-type: none;
      &.token-input-dropdown-item, &.token-input-dropdown-item2 {
        background-color: #F1F1F1;
      }
      em {
        font-weight: 600;
        font-style: normal;
      }
      &.token-input-selected-dropdown-item {
        background-color: #16A1C0;
        color: #F1F1F1;
      }
    }
  }
}

.token-list{
  padding-bottom: 7px;
  ul.token-input-list {
    height: auto;
  }
  li {
    &.token-input-token {
      width: 100%;
      p {
        float: left;
      }
      span.token-input-delete-token {
        float: right;
        padding-right: 3px;
      }
    }
    &.token-input-input-token {
      width: 100%;
      padding: 2px 0 0 3px;
      input {
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        width: 100% !important;
      }
    }
  }
}
