%section
  .col-md-12
    .row
      .header-field
        .header-field-title
          = 'Сформированные отчеты'
          = link_to 'Создать новый отчет', all_reports_reports_path, class: 'btn btn-primary btn-sm', title: 'Новые отчеты'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Название отчета
      %th Дата формирования


  %tbody
    - @reports.each do |report|
      %tr.tr-href{ id: report.id, data: { link: (report.upload.attachment.url  if report.upload.present?), tab: 'true' } }
        %td= report.name
        %td= l(report.date_of_create, format: :default)
