.main-menu-buttons
  .main-menu-button-wrapper{id: 'to-patients', data: {link: place_work_report_reports_path}}
    = main_menu_button_for 'reports', 'Данные о возрасте пацеинтов'
  .main-menu-button-wrapper{id: 'to-patients', data: {link: movement_patients_reports_path}}
    = main_menu_button_for 'reports', 'Движение пациентов'

-# = link_to 'New Report', new_report_path
