.print-hidden
  %br
  %br

.header
  .logo
    = image_tag(asset_url('pmt-logo.png'))
  .address.text-right
    %p www.pmtonline.ru
    %p service@pmtonline.ru
    %p +7 (499) 110-26-46
    -# %p Лицензия № __________________